@model X.PagedList.IPagedList<BanDoWeb.Model.Models.Product>
@using X.PagedList.Mvc.Core 
@using X.PagedList.Web.Common
@{

}

<div class="container-fluid">
        <div class="row px-xl-5">
            @await Component.InvokeAsync("Shop")
            <!-- Shop Product Start -->
                @foreach (var item in Model)
                {
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/Content//assets/img/Product/@item.ImageUrl" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" asp-action="Detail" asp-controller="Detail" asp-route-id="@item.Id"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">@item.Title</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>$@item.Price</h5><h6 class="text-muted ml-2"><del>$@item.PriceTotal</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(@item.Views)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                    <div class="col-12">
                        <nav>
                          <ul class="pagination justify-content-center">
                            @Html.PagedListPager(Model, page => Url.Action("Index","Shop",new {page = page}),
                                new PagedListRenderOptions
                                {
                                     LiElementClasses = new string[] { "page-item"},
                                     PageClasses = new string[] {"page-link"}
                                } 
                            )
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
       </div>
</div>