@model BanDoWeb.Model.Models.ApplicationUser
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Quản lý truy cập & chat</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a asp-area="admin" asp-controller="homeadmin" asp-action="Dashboard">Trang chủ</a></li>
              <li class="breadcrumb-item active">Quản lý truy cập & chat</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable ui-sortable">
            <!-- DIRECT CHAT -->
            <div class="card direct-chat direct-chat-primary">
              <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">Trò chuyện trực tuyến</h3>

                <div class="card-tools">
                  <span title="3 New Messages" class="badge badge-primary">3</span>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                    <i class="fas fa-comments"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages">
                  <!-- Message. Default to the left -->
                  <div class="direct-chat-msg" id="messageSender">
                    
                  </div>
                  <!-- /.direct-chat-msg -->

                  <!-- Message to the right -->
                  <div class="direct-chat-msg right" id="messageAdmin">
                        
                    </div>
                    <!-- /.direct-chat-text -->
                  </div>
                  <!-- /.direct-chat-msg -->
                </div>
                <!--/.direct-chat-messages-->
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <form action="#" method="post">
                    <input type="text" id="senderInput" hidden value="@Model.Email"/>
                    <div class="col-4"><input type="text" id="receiverInput" hidden value="khanh12345@gmail.com"/></div>
                  <div class="input-group">
                    <input type="text" name="message" id="messageInput" placeholder="Trò chuyện..." class="form-control">
                    <span class="input-group-append">
                      <button type="button" class="btn btn-primary" id="sendButton">Gửi</button>
                    </span>
                  </div>
                </form>
              </div>
              <!-- /.card-footer-->
          </section>
            
          </div>
            <!--/.direct-chat -->

           
          </section>
          
 @section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/Content/assets/js/DashBoard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
}
