<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="~/Content/assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/StyleChat.css" rel="stylesheet">
    <!-- Customized Bootstrap Assets -->
    <link rel="stylesheet" type="text/css" href="~/Assets/styles/main_styles.css">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <style>
        #search{
            position:absolute;top:100%; 
            width:calc(100% - 30px);
            background-color:white;
            border-radius:3px;
            z-index:3
        }
        #products{
            margin: auto;
            display:none
        }
        #pCenter{
            text-align: center;
        }
    </style>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center h-100">
                    <a class="text-body mr-3" href="">About</a>
                    <a class="text-body mr-3" href="">Contact</a>
                    <a class="text-body mr-3" href="">Help</a>
                    <a class="text-body mr-3" href="">FAQs</a>
                </div>
            </div>
            
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                <partial name="_LoginPartial"/>
                    <div class="btn-group mx-2">    
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">USD</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">EUR</button>
                            <button class="dropdown-item" type="button">GBP</button>
                            <button class="dropdown-item" type="button">CAD</button>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">EN</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">FR</button>
                            <button class="dropdown-item" type="button">AR</button>
                            <button class="dropdown-item" type="button">RU</button>
                        </div>
                    </div>
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-heart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left" style="position:relative">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchInput" placeholder="Tìm kiếm sản phẩm">
                    </div>
                    <div id="search">
                        <ul id="liSearch">
                            
                        </ul>
                        <div id="products">
                            <a asp-area="" asp-controller="shop" asp-action="index">
                                <p id="pCenter">Xem thêm sản phẩm</p>
                            </a>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-6 text-right">
                <p class="m-0">Dịch vụ khách hàng</p>
                <h5 class="m-0">+038.7577.243</h5>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    @await Component.InvokeAsync("Chat")
    @RenderBody()

                    

    



    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">LIÊN LẠC</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>P.An Bình, Q.Ninh Kiều, Tp.Cần Thơ, Việt Nam</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>Khanhvo06062002@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+0387.577.243</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-7">
                        <h5 class="text-secondary text-uppercase mb-4">Cửa hàng nhanh</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" asp-area="" asp-controller="home" asp-action="index"><i class="fa fa-angle-right mr-2"></i>Trang chủ</a>
                            <a class="text-secondary mb-2" asp-area="" asp-controller="shop" asp-action="index"><i class="fa fa-angle-right mr-2"></i>Cửa hàng của chúng tôi</a>
                            <a class="text-secondary mb-2" asp-area="" asp-controller="home" asp-action="index"><i class="fa fa-angle-right mr-2"></i>Chi tiết cửa hàngl</a>
                            <a class="text-secondary mb-2" asp-area="" asp-controller="cart" asp-action="showcart"><i class="fa fa-angle-right mr-2"></i>Giỏ hàng</a>
                            <a class="text-secondary mb-2" asp-area="" asp-controller="cart" asp-action="CheckOut"><i class="fa fa-angle-right mr-2"></i>Thanh toán</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Liên hệ chúng tôi</a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-7">
                        <h5 class="text-secondary text-uppercase mb-4">Bản tin</h5>
                        <p>Đăng ký để nhận thông tin chương trình khuyến mại</p>
                        <form action="">
                            <div class="input-group">
                                <input type="email" id="txtNewsletter" class="form-control" placeholder="Địa chỉ email của bạn">
                                <div class="input-group-append">
                                    <button id="newsletter" class="btn btn-primary">Đăng ký</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Theo dõi</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/lib/easing/easing.min.js"></script>
    <script src="~/Content/assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
    <!-- Contact Javascript File -->
    <script src="~/Content/assets/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Content/assets/mail/contact.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/Content/assets/js/DashBoard.js"></script>

    <!-- Template Javascript -->
    <script type="text/javascript" src="~/davidshimjs-qrcodejs-04f46c6/qrcode.min.js"></script>
    <script type="text/javascript" src="~/Content//assets/js/Search.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/QR.js"></script>
    <script src="/Content/assets/js/checked.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    
@*    <script src="~/Assets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Assets/js/custom.js"></script>*@


    @RenderSection("Scripts",required:false)
    @await Component.InvokeAsync("Notyf")
</body>

</html>