@model BanDoWeb.Model.Models.Contact
 <!-- Navbar Start -->
    @await Component.InvokeAsync("NavbarC")
    <!-- Navbar End -->
<div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                    <span class="breadcrumb-item active">Liên hệ</span>
                </nav>
            </div>
        </div>
    </div>

<div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span style="background-color:#FFD333" class="pr-3">Thông tin liên hệ</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form method="post" asp-action="create" asp-controller="contactus" novalidate="novalidate">
                        <div class="control-group">
                            <input asp-for="Name" class="form-control" placeholder="Tên" required="required" data-validation-required-message="Please enter your name" aria-invalid="false">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Email" required="required" data-validation-required-message="Please enter your email" aria-invalid="false">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input asp-for="Subject" class="form-control" id="subject" placeholder="Chủ đề" required="required" data-validation-required-message="Please enter a subject" aria-invalid="false">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea asp-for="Message" class="form-control" rows="8" id="message" placeholder="Tin nhắn" required="required" data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Gửi tin nhắn</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="bg-light p-30 mb-30">
                     <iframe style = "width: 100%" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3929.093743034841!2d105.74600208485548!3d10.009115247359754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTDCsDAwJzMyLjgiTiAxMDXCsDQ1JzAzLjEiRQ!5e0!3m2!1svi!2s!4v1700404207358!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>P.An Bình, Q.Ninh Kiều, Tp.Cần Thơ, Việt Nam</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>Khanhvo06062002@gmail.com</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+0387.577.243</p>
                </div>
            </div>
        </div>
    </div>
